#game-content-div {
    width: 100%;
    height: 100%;
    background: url(images/tbl.png) no-repeat right bottom;
}

.opt {
    display: block;
    margin-top: 50px;
    height: 200px;
}

.point {
    padding-left: 0px !important;
    margin-left: -4px !important;
    min-width: 2px !important;
}

label {
    font-size: 30px;
    font-weight: normal;
    margin-right: 12px;
}

.correct {
    width: 300px;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 30px;
}

.avatar_anim {
    z-index: 9999 !important;
}

.answer:hover,
.answer-clicked {
    border: none;
    /*text-decoration: line-through;
    text-decoration-color:#ff0000;*/
    box-shadow: none;
    background-color: #ffffcc;
}

.answer {
    background: none;
    border: none;
    margin: 5px 30px;
    padding: 2px;
    min-width: 18px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    z-index: 9990;
}

/* .answer:nth-child(odd) {
    width: 200px;
} */

.incorrect {
    background-color: rgba(243, 16, 16, 0.48);
}

#democratie {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 224px;
    left: 130px;
    border: 4px solid #1badfd;
    font-size: 22px;

}

#totalitarism {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 224px;
    right: 155px;
    border: 4px solid #a917a3;
    font-size: 22px;
}


#header_democratie {
    width: 300px;
    height: 70px;
    position: absolute;
    top: 158px;
    left: 130px;
    border: 4px solid #1badfd;
    font-size: 22px;
    background-color: #1badfd;
    color: #ffffff;

}

#header_totalitarism {
    width: 300px;
    height: 70px;
    position: absolute;
    top: 158px;
    right: 155px;
    border: 4px solid #a917a3;
    font-size: 22px;
    background-color: #a917a3;
    color: #ffffff;
}

.dragged {
    float: left;
    padding: 2px 6px;
}



.checked_democratie {
    color: #1badfd;
}

.checked_totalitarism {
    color: #a917a3;
}


#game-content-div {
    text-align: center;

}

#verifica {
    position: absolute;
    bottom: -5px;
    left: 450px;
}

.question {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.image {
    width: 250px;
    height: 300px !important;
    margin: 20px auto;
}


.fa {
    padding-top: 4px;
}


.fa.fa-star {
    font-size: 40px;
    color: #fff !important;
    margin-top: 5px;
}

.fa.fa-star.yellow-star {
    color: #FF3 !important;
}

.carousel-inner .item {
    text-align: Center;

}

.exercises {
    display: table;
}

.exercise {
    display: table-cell;
    padding: 60px 10px;
    font-size: 26px;
    font-weight: bold;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}