#game-content-div {
    /*background: url(images/fullsize_distr.jpg) no-repeat right bottom;*/
    padding-top: 70px;
}
.fraction, .droppable-cell {
	display: inline-table;
	/* padding: 0 10px; */
} 
#draggable-images  {
	text-align: center;
	margin: auto;
	width: 600px;
}
#droppable-words1, #droppable-words2{
    text-align: center;
    margin: auto;
    width: 684px;
    margin-top: 55px;
    margin-left: 222px;
    height: 55px;
    text-align: left;
}
.answers{
width: 20px;position: relative;width: 65px;padding: 0px;border: 2px solid royalblue;background-color: #e6f0cc;height: 40px;text-align: center;font-size: 28px;border-radius: 5px;color: black;font-weight: bold;line-height: 1;}

#next-div-content {
	text-align: center;
	margin-top: 2em;
}

#next-image{
    position:absolute;
    top: 640px;
    left: 846px;
    cursor:pointer;
}

img.verifica {
    width: 140px !important;
    height:50px;
    opacity: 1;
}

.correct-answer {
    background: url(images/correct.png);
    background-size: 30px 30px;
	background-repeat: no-repeat;
    background-origin: border-box;
    background-position: right top;
}

.wrong-answer {
	 background: url(images/wrong.png);
	 background-size: 30px 30px;
	 background-repeat: no-repeat;
     background-origin: border-box;
     background-position: right top;
}

.hovered
{
  
   background-color: black;
   
}

.dragged{
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    height: 57px;
    text-align: center;
    padding-top: 2px;
    width: 104px;
}
.ui-draggable-disabled{
    cursor: default;
}

#text-div0{

    text-align: -webkit-center;
    width: 100%;
    margin: auto;
    height: 174px;
    padding-top: 30px;
}
}

#text-div1{
    
width: 815px;
    
margin-top: 140px;
    
top: 150px;
    
margin-left: 55px;
    
z-index: 0;
}

.input-box1{
        top: -42px;
        position: relative;
        left: 340px;
        width: 65px;
        height: 40px;
}

.input-box2{
        top: -42px;
        position: relative;
        left: 355px;
        width: 65px;
        height: 40px;
}

.draggable-sentence{
    font-size: 29px;
    /* font-weight: bold; */
    padding: 0px 14px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 15px;
    vertical-align: -webkit-baseline-middle;
    min-width: 235px !important;
    background-color: #eafad4;
    text-align: -webkit-left;
    cursor: move;
    color: black;
    /* border-radius: 5px; */
    z-index: 10;
    border: 1px solid #2a9484;
    padding:5px !important;
    text-align: center;
}


.dragged-word{
    text-align: center;
    width: -2px !important;
    border-radius: 3px;
    font-size: 28px;
    line-height: 1.5;
    cursor: default;
    font-weight: bold;
    height: 32px;
    padding: 6px 5px;
}

.droppable-sentence{
    font-size: 32px;
   /* font-weight: bold;*/
    display: inline-block;
    min-width: 311px;
    /* border: 1px dotted black; */
    /* background-color: #ffb294; */
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    min-height: 55px;
    line-height: 2.2;
    padding: 5px 5px;
    cursor: default;
    color: black;
}


.draggable-sentence:hover{
    border: 1px solid #ebff2c;
    background-color: #ffe795;
    color: black;

}


.ui-draggable-dragging{
    opacity: 0.7;
}

#text00{
    /* margin-left: 0px; */
}

#fraction3{
    height: -2px;
}

.answers:hover{
    border: 4px solid royalblue;

}

.child{
    display: inline-block;
    margin-left: 65px;
}

.child img{width: 140px;}

#text10{
margin-top: 0px;
}
#text11{

margin-top: 0px;
}



.wrong-answer{
    border: 4px solid red !important;
    background-image: none;
}

.correct-answer{
    border: 4px solid green !important;
    background-image: none;
}

.hovered{
    background-color: lightblue;

}

.correct-answer div, .wrong-answer div{
    height: 28px !important;
    line-height: 1.4;
}


.droppable-cell{
    border: 1px solid #758c85;
    min-width: 263px;
    vertical-align: super;
    height: 60px;
    /* border-radius: 7px; */
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#cell10{}
#cell11{}
#cell12{
}
#cell13{
}
#cell14{

}

.sentence{
    width: inherit;
    margin-top:5px;
    margin-left: 50px;
}