#game-content-div {
    text-align: center;

}

.question {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.image {
    width: 250px;
    height: 300px !important;
    margin: 20px auto;
}


.fa {
    padding-top: 4px;
}

#stars {
    display: table;
    position: absolute;
    right: 30px;
    top: 10%;
    height: 80%;
    width: 50px;
}

#stars-inner {
    display: table-cell;
    vertical-align: middle;
}

.fa.fa-star {
    font-size: 40px;
    color: #fff !important;
    margin-top: 5px;
}

.fa.fa-star.yellow-star {
    color: #FF3 !important;
}
.verif{
    position: absolute;
    right: 447px;
    bottom: 43px;
}

.carousel-inner .item {
    text-align: Center;

}

.exercises {
    display: table;
}
.exercise img{
    border-radius: 5px;
    border: 1px solid #27a2bb;
}
.exercise {
    display: table-cell;
    padding: 16px 10px 0px 10px;
    font-size: 46px;
    font-weight: normal;
    height: 110px;
    text-align: center;
    vertical-align: middle;
}

.answer {
    background: #ffffff !important;
    border: 2px solid #cacaca;
    margin: 5px;
    padding: 5px;
    min-width: 180px;
    font-size: 28px;
}

#next-slide-image {
        margin-top: 49px;
    right: 40px;
    position: absolute;
}