#game-content-div {
    /*background: url(images/fullsize_distr.jpg) no-repeat right bottom;*/
    /*padding-top: 70px;*/
}

#next-image{
    position:absolute;
    top: 620px;
    left:400px;
    cursor:pointer;
}

.dragged{
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    height: 57px;
    text-align: center;
    padding-top: 2px;
    width: 104px;
}

.ui-draggable-disabled{
    cursor: default;
}

#text-div0{
    text-align: center;
    width: 100%;
    margin: auto;
    height: 153px;
    padding-top: 50px;
}


#text-div1{  
    margin-top: 40px;
    margin-left: 0px;  
    margin-right: 55px;      
    z-index: 0;
}

.draggable-sentence{
    font-size: 32px;   
    display: inline-block;
    margin-left: 40px;
    margin-top: 15px;    
    max-width: 187px !important;    
    cursor: move;
    color: black;
    z-index: 10;
    border: 2px solid #2a9484;
    border-style: outset;
    background-color: #eafad4;  
    box-shadow: 5px 5px 5px #a29c9c;
    padding:5px !important;
    text-align: center;
}

.dragged-word{
    text-align: center;
    border-radius: 3px;
    font-size: 28px;
    line-height: 1.5;
    cursor: default;
    font-weight: bold;
    height: 48px;
    padding: 6px 5px;
}

.droppable-sentence{
    font-size: 29px;
    display: inline-block;
    min-width: 311px;   
    min-height: 55px;
    line-height: 2.2;
    text-align: left;
    vertical-align: middle;    
    padding: 5px 5px;
    cursor: default;
    color: black;
}

.draggable-sentence:hover{
    border: 1px solid #ebff2c;
    background-color: #ffe795;
    color: black;
}

.ui-draggable-dragging{
    opacity: 0.7;
}

.wrong-answer{
    border: 4px solid red !important;
    background-image: none;
}

.correct-answer{
    border: 4px solid green !important;
    background-image: none;
}

.hovered{
    background-color: lightblue;
}

.correct-answer div, .wrong-answer div{
    height: 28px !important;
    line-height: 1.4;
}

.droppable-cell{
    border: 2px solid #1c775b;
    border-style: outset;
    min-width: 150px;
    vertical-align: super;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
}

.sentence{
    width: inherit;
    margin-top:8px;
    margin-left: 280px;
}